#about_section
{
  background: #FFFFFF;
  opacity: 1.00;
}
#about_text_div
{
  margin-top: 10px;
}

#about_contact_div
{
  border-radius: 25px;
  text-align: center;
  margin: 25px;
  padding: 40px;
  height: 400px;
  box-shadow: 0px 10px 18px #cdcdcd;
  background-color: #ffffff;
  position: relative;
  bottom: 60px;
}

#qr_code_img
{
  width: 200px;
}

@media screen and (max-width:1000px) {
  #about_contact_div
  {
    bottom: 0px;
  }

  #qr_code_img
  {
    width: 150px;
  }
}

#about_contact_div_subtitle
{
  color: #0194de;
  font-weight: bolder;
  font-size: 18px;
}

#about_contact_div_info
{
  color: #0194de;
  font-size: 15px;
  margin-top: 15px;
}

#about_text
{
  text-align: center;
  color: #555555;
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 35px;
  opacity: 1.00;
  font-weight: 300;
  margin-bottom: 25px;
}

#about_text_paragraph
{
  color: #626262;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 25px;
}
