
.course_schedule_card
{
    padding: 5px 0px 10px 0px;
    border-bottom: solid 1px #acacac;
}

.course_schedule_title
{
    font-size: 25px;
    text-align: center;
    padding: 55px 0px 5px 0px;
}

.course_schedule_item
{
    font-size: 18px;
    padding: 8px 0px 3px 0px;
}

.moto_schedule_status_cb
{
    margin: 8px 0px 0px 15px;
}

.vku_schedule_status_cb
{
    margin: 8px 0px 0px 15px;
}

#save-schedule-btn
{
    width: 100%;
    margin-bottom: 55px;
}